*{
	color: #232b2b;
	font-family: Tahoma;
}

#title{
	font-size: 150%;
	position: relative;
	float: left;
	font-weight: bold;
	margin-left: 1%;
}

#contact{
	position: relative;
	float: right;
	margin-right: 1%;
}

#navBar{
	list-style-type: none;
	overflow: hidden;
	clear: both;
	margin: 0;
	padding: 0;
}

div.sticky{
	clear: both;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #232b2b;

}

li{
	float: right;
}

li a{
	display: inline-block;
	color: #fafafa;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	background-color: #414a4c;
}

#content{
	padding: 1000px;
}



