*{
	color: #232b2b;
	font-family: Tahoma;
}

#title{
	position: relative;
	float: left;
	font-weight: bold;
	margin-left: 1%;
}

a{
	text-decoration: none;
}

#contact{
	position: relative;
	float: right;
	margin-right: 1%;
}

#navBar{
	list-style-type: none;
	overflow: hidden;
	clear: both;
	margin: 0;
	padding: 0;
}

div.sticky{
	clear: both;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #232b2b;
}

li{
	float: right;
}

li a{
	display: inline-block;
	color: #fafafa;
	text-align: center;
	padding: 14px 16px;
}

li a:hover{
	background-color: #414a4c;
}

#headshot{
	position: relative;
	margin-top: 1%;
	margin-right: 0%;
	float: left;
	padding: 0%;
}

#aboutMe{
	position: relative;
	float: left;
	width: 50%;
	margin-left: 2%;
}

#resumeDiv{
	text-align: center;
}



